
<div class="container room-table well">
    <div class="row">

        <div class="col-md-8 sidebar">
                <h1>Bloc Chat</h1>
                
            <div ng-controller="ModalCtrl as modal">
                            <button type="button" ng-click="modal.open()" class="btn btn-info btn-lg">Add Room</button>

            </div>

            

                <div class = "room-list">
                    <ul ng-repeat="room in home.rooms">
							  	<!-- make all the room in home.rooms into a clickable link room1 etc, which is called as room.$value -->
							  <a href="/{{room.$id}}"><li>{{room.$value}}</li></a>
                    </ul>
                </div>

        </div>
			
			<div class="col-md-4 room-message-section">
				<ul ng-repeat= "message in home.messages">
                       <li>{{message.content}}</li>
					</ul>

			</div>
  </div>
    
    
</div>

