<!-- Trigger the modal with a button note using $ctrl, which is the controller reference-->

  <div class='modal-dialog' role='document'>
	  <div class='content'>

		  <div class='modal-header'>
			  <h4>Create a new room</h4>
		  </div>

		  <div class='modal-body'>
		    <p>Enter a room name</p>
		    <div class='room-name'>
		    <input type='textbox' placeholder='enter a room name here' ng-model='$ctrl.roomName'>
		    </div>
		  </div>
	  </div>

	  <div class='modal-footer'>
		  <button class='btn btn-success' ng-click='$ctrl.save($ctrl.roomName); $ctrl.cancel()'>Okay</button>
		  <button class='btn' ng-click='$ctrl.cancel()'>Cancel</button>
	  </div>
  </div>
